* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.expand-btn {
  width: 80px;
  transition: width 0.3s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  background: linear-gradient(to right, orange, red);
  color: white;
  border-radius: 20px 20px 20px 20px;
  position: relative;
  z-index: 0;
  border: none;
  text-align: center;
  justify-content: center;
}

.expand-btn:focus,
.expand-btn:hover {
  width: 150px;
  color: white;
}

.navbar-nav .nav-link:hover {
  background: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.heading {
  background: linear-gradient(to right, orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#carmodels {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.918), rgba(128, 128, 128, 0.781));
  width: 100%;

}

.top {
  background: linear-gradient(to right bottom, rgb(0, 0, 0), rgba(128, 128, 128, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top2 {
  background: linear-gradient(to right bottom, black,grey);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top3 {
  background: linear-gradient(to right bottom,orange,red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hello {
  background-color: white;
}
.customer-font {
  font-weight: bold;
  font-size: 2vw;
}

.value-heading{
  font-size: 2vw;
  font-weight: 500;
}

.first-img{
  border-radius: 20px;
}
footer:hover{
  color: white;
}
.valueimg{
  border-radius: 7px;
}

.svg-card2{
  display: flex;
 
}

#latestcar2{
  width: 18rem;
}

video{
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  display: block;
}
.modelscar{
  padding: 10px; 
  justify-content: center;
   margin: 10px;
    border: 0px solid rgba(121, 121, 121, 0.829);
    border-radius: 10px;
     height: 250px; 
      text-align: center; 
      background-color: #29292B; 
      color: #BEC9C3;

}
.videoclass{
  text-align: start;
}

.logos{
 display: flex;
 gap: 5px;
}
.logos1{
 display: flex;
 margin-left: 60px;
 gap: 3px;
 
}
.aboutvideo{
  border-radius: 15px;
}

.videotext{
  position: absolute;
  bottom: 30px;
   left:40px ;
   color:white;
}
.videotext2{
  position: absolute;
  bottom: 40px;
   color:red;
}
.clientsphoto{
position: absolute;
color: white;
left: 69px;
 bottom: 29px;
}
.serviceheading{
  font-size: 40px;
  font-weight: 640;
  color: rgba(0, 0, 0, 0.952);
}
.servicedt{
  color: grey;
}
.customerimg{
  border-radius: 10px 0px 0px 10px;
}

#customertext{
  border-radius: 0px 10px 10px 0px ;
  background-color: rgba(128, 128, 128, 0.187);
}

.finderimg{
  border-radius: 12px;
}
.finderimg2{
  border-radius: 12px;
  height: 278px;
}
.serviceimg{
  border-radius: 90%;
}

.findertt{
  text-align: center;
}
.customerimg{
  width: 649px;
}

.servicep{
  font-size: 17px;font-weight: bold;
}

.mymap{
  filter: grayscale(100%) invert(100%);
  border-radius: 70px;
  margin-bottom: 20px;
}
.contactimg{
  width: 100%;
  height: 730px;
  position: relative;
}
.contact1{
  position: absolute;
  left: 13%;
  bottom: 20%;
  color: white;
}
.contact1 h1{
  font-size: 88px;
  font-family:'Orbitron',sans-serif;
}
.contactc{
  position: relative;
}
.faq h5{ 
   color: grey;
   font-weight: bold;
   font-size: 15px;
}
.faq h5:hover{ 
   color: black;
   cursor: pointer;
}
.message{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
   width: 430px;
   border-radius: 12px;
}

.newzp{
  color: grey;
}
#g{
  color: grey;
}

.signtext{
  margin-top: 120px;
}

.signimg{
  border-radius: 16px;
  width: 850px;
  height: 750px;
}

.signform{
   width: 450px;
}

.united{
  margin-left: 100px;
  color: grey;
  font-family:'Orbitron',sans-serif;
}
.unitedimg{
  margin-left: 220px;
}

@media (max-width: 414px) {
  .values p {
    width: 70vw;
    margin-top: 10px;
    

  }

  .values h5 {
    margin-top: 20px;
    width: 70vw;

  }

  .values .valueimg {
    width: 90vw;
    border-radius: 10px;

  }

  .customer-font {
    font-size: 7vw;
  }

  .value-heading{
    font-size: 8vw;
    text-align: center;
    font-weight: 500;
  }

  .svg-card{
    top: 0;
   margin-left: 20px;
  }

  .svg-card2{
   justify-content: space-evenly;
   margin-right: 20px;
  }

  .market{
   margin-bottom: 20px;
  }
  #latestcar2{
    background-color: white;
    margin-left: 50px;
  }
  .modelscar{
    height: 285px;
  }
  .top{

    text-align: center;
  }

  .videoclass{
    margin-bottom: 200px;
  }
  .logos{
    margin-left: 89px;
  }
  .logos1{
    margin-left: 91px;
    gap: 3px;
  }
  .aboutvideo{
    margin-top: 30px;
    height: 50vh;
    width: 93vw;
  }
  .videotext{
    left: 10px;
    top: 122px;
    font-size: 12px;
  }
  .videotext h2{
    font-size: 15px;
    bottom:2px;
  }
  .videotext2 button{
    top: 35px;
   right: -200px;
  }
  .clientsphoto{
    position: absolute;
    color: white;
    left: 20px;
     bottom: 23px;
    }
    .timing{
      display: none;
    }
    #timebtn{
      justify-content: center;
    }
    .serviceheading{
      font-size: 5vw;
      margin-left: 10px;
      background: linear-gradient(to right,rgba(255, 166, 0, 0.804),rgba(255, 0, 0, 0.741) );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .serviceimg{
      margin-left: 80px;
    }
    .servicedt{
      margin-left: 29px;
      font-size: 18px;
    }
    .customerimg{
      border-radius: 10px 10px 0px 0px;
      width: 359px;
      
    }
    #customertext{
      margin-left: 11px;
      width: 359px;
      border-radius: 0px 0px 10px 10px ;
    }
    .servicep{
      margin-left: 29px;
    }
    .servicenum{
      margin-left: 29px;
    }

    .contactimg{
       width: 390px;
       height: 400px;
    }
    .contact1 h1{
      font-size: 40px;   
    }
    .contact1{
      bottom: 3px;
    }

    .offices{
      margin-left: 40px;
    }

    .message{
      width: 360px;
    }

    .msg{
      margin-left: px;
      margin-top: 20px;
    }
    #newz{
      margin-left: 20px;
    }
    #newzh{
      margin-left: 22px;
    }
    #germany{
      margin-left: 22px;
    }
    .newzp{
      margin-left: 26px;
    }
    .germany{
      margin-left: 49px;
    }
    .imggermany{
      margin-left: 20px;
    }
    .signimg{
      display: none;
    }
    .signform{
      width: 290px;
    }
    .signtext{
      margin-top: 20px;
    }

    .signd{
      margin-left: 15px;
    }

    .united{
      display: none;
    }
    .unitedimg{
      margin-left: 10px;
    }
}

